* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    width: 100%;
    background: #0d1625;
    padding: 15px 5%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 80px;
}


.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 150px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00aaff;
}


.loginbtn {
    background: #007bff;
    border: none;
    padding: 3px 18px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.loginbtn:hover {
    background: #005fcc;
    transform: scale(1.05);
}


.menu-icon {
    display: none;
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
}


@media (max-width: 768px) {

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: -660px; 
        left: 0;
        width: 100%;
        background: #0d1625;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 40px 0 30px 0;
        transition: 0.4s ease;
        box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
    }

    .nav-links.active {
        top: 60px; 
    }

    .nav-links li a {
        font-size: 18px;
    }

    .loginbtn {
        font-size: 18px;
        padding: 10px 28px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 130px;
    }

    .nav-links li a {
        font-size: 17px;
    }
}


/* section hero */


.about-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 8%;
    background: #f5f8ff;
    gap: 40px;
}

.about-hero-content {
    max-width: 50%;
}

.about-hero-content h1 {
    font-size: 58px;
    color: #0a1a2f;
    margin-bottom: 20px;
    font-weight: 700;
}

.about-hero-content p {
    font-size: 18px;
    color: #36454F;
    margin-bottom: 30px;
    line-height: 1.7;
}

.hero-btn {
    display: inline-block;
    background: #1e73be;
    color: #fff;
    padding: 14px 32px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.hero-btn:hover {
    background: #155a96;
}

.about-hero-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}


@media (max-width: 900px) {
    .about-hero {
        flex-direction: column;
        text-align: center;
    }

    .about-hero-content,
    .about-hero-image {
        max-width: 100%;
    }

    .about-hero-content h1 {
        font-size: 42px;
    }
}




/* Footer Section */
.footer {
    background: #0d1b2a;
    color: #ffffff;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 8%;
}

/* About Section */
.footer-about {
    flex: 1;
    min-width: 260px;
}

.footer-about img {
    width: 160px;
    margin-bottom: 15px;
}

.footer-about p {
    font-size: 15px;
    line-height: 1.7;
    color: #dfe6ee;
    max-width: 320px;
}


.footer h4 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffcc66;
    font-weight: 600;
}


.footer-links,
.footer-support {
    flex: 1;
    min-width: 200px;
}

.footer-links ul,
.footer-support ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-support li {
    margin-bottom: 10px;
}

.footer-links a,
.footer-support a {
    color: #dfe6ee;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.footer-links a:hover,
.footer-support a:hover {
    color: #ffcc66;
    padding-left: 5px;
}


.footer-contact {
    flex: 1;
    min-width: 260px;
}

.footer-contact p {
    font-size: 15px;
    margin-bottom: 8px;
    color: #dfe6ee;
}

.social-icon {
    margin-top: 10px;
}

.social-icon a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color:  #dfe6ee;
    background: rgba(13, 6, 230, 0.1);
    padding: 10px 12px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.social-icon a:hover {
    background: #ffcc66;
    color: #0d1b2a;
}


.footer-bottom {
    text-align: center;
    padding: 18px 0;
    margin-top: 40px;
    background: #0a1622;
    font-size: 14px;
    color: #c8d2dc;
}

.footer-bottom p {
    margin: 0;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-about p {
        max-width: 100%;
    }

    .social-icon a {
        margin: 0 8px;
    }
}



