* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    width: 100%;
    background: #0d1625;
    padding: 15px 5%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 80px;
}


.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 150px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00aaff;
}


.loginbtn {
    background: #007bff;
    border: none;
    padding: 3px 18px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.loginbtn:hover {
    background: #005fcc;
    transform: scale(1.05);
}


.menu-icon {
    display: none;
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
}


@media (max-width: 768px) {

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: -660px; 
        left: 0;
        width: 100%;
        background: #0d1625;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 40px 0 30px 0;
        transition: 0.4s ease;
        box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
    }

    .nav-links.active {
        top: 60px; 
    }

    .nav-links li a {
        font-size: 18px;
    }

    .loginbtn {
        font-size: 18px;
        padding: 10px 28px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 130px;
    }

    .nav-links li a {
        font-size: 17px;
    }
}

/* section main */


.abouthero {
  position: relative;
  width: 100%;
  height: 80vh;
  background: url('./image/home4.webp')
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: #fff;
}

.abouthero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

.abouthero-content {
  position: relative;
  text-align: center;
  max-width: 800px;
  z-index: 2;
}

.abouthero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}

.abouthero-content p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.abouthero-btn {
  padding: 12px 28px;
  background: #ff8c00;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease;
}

.abouthero-btn:hover {
  background: #e67a00;
}


@media (max-width: 768px) {
  .abouthero-content h1 {
    font-size: 35px;
  }

  .abouthero-content p {
    font-size: 16px;
  }
}


/* section hero */

.about-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 80px;
  gap: 40px;
  background: linear-gradient(135deg, aqua,blue, aqua, blue, aqua);
}

.about-hero-image {
  flex: 1;
}

.about-hero-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.about-hero-content {
  flex: 1;
}

.about-hero-content h1 {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 700;
}

.about-hero-content p {
  font-size: 18px;
  line-height: 28px;
  color: white;
}


@media (max-width: 768px) {
  .about-hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .about-hero-content h1 {
    font-size: 28px;
  }

  .about-hero-content p {
    font-size: 16px;
    line-height: 24px;
  }
}



/* section about */

.hero {
  width: 100%;
  padding: 0;
}

.hero-inner {
  display: flex;
  height: 100vh;
}


.hero-left {
  flex: 1;
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(248, 248, 177);
}

.eyebrow {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.2px;
  color: #777;
  margin-bottom: 10px;
}

.headline {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.lead {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.hero-left p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.highlights {
  margin: 15px 0 25px;
}

.highlights li {
  font-size: 15px;
  margin-bottom: 8px;
}



.hero-right {
  flex: 1;
  height: 100vh;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.small {
  font-size: 13px;
  color: #777;
  margin-top: 25px;
}


@media (max-width: 900px) {
  .hero-inner {
    flex-direction: column;
    height: auto;
  }

  .hero-right {
    height: 300px;
  }

  .hero-left {
    padding: 40px;
  }
}





/* section awards */

.awards-section {
    padding: 80px 10%;
    background: url('./image/home4.webp')
    center/cover no-repeat fixed;
}

.awards-header {
    text-align: center;
    margin-bottom: 50px;
}

.awards-header h2 {
    font-size: 36px;
    color: #222;
    font-weight: 700;
}

.awards-header p {
    font-size: 16px;
    color: black;
    margin-top: 8px;
}


.awards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.award-card {
    background: linear-gradient(135deg,rgb(190, 250, 183),rgb(235, 176, 176));
    padding: 35px 25px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.06);
    transition: 0.3s ease;
}

.award-card i {
    font-size: 40px;
    color: #d4a017;
    margin-bottom: 15px;
}

.award-card h4 {
    font-size: 20px;
    color: #222;
    margin-bottom: 10px;
    font-weight: 600;
}

.award-card p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.award-card:hover {
    background: #fff;
    transform: translateY(-6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}


@media (max-width: 992px) {
    .awards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .awards-grid {
        grid-template-columns: 1fr;
    }
}



/* section testimonial */



.testimonials-section {
    padding: 80px 10%;
    background: url('./image/background.webp')
    center/cover no-repeat fixed;
}

.testimonials-header {
    text-align: center;
    margin-bottom: 50px;
}

.testimonials-header h2 {
    font-size: 36px;
    font-weight: 700;
    color: #222;
}

.testimonials-header p {
    color: #555;
    font-size: 16px;
    margin-top: 8px;
}


.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.testimonial-card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 25px rgba(0,0,0,0.12);
}


.client-info {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.client-info img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.client-info h4 {
    font-size: 18px;
    margin-bottom: 4px;
}

.client-info span {
    font-size: 14px;
    color: #777;
}


.testimonial-text {
    color: #444;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 15px;
}


.rating {
    color: #f5b800;
    font-size: 18px;
    letter-spacing: 1px;
}


@media (max-width: 992px) {
    .testimonials-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .testimonials-grid {
        grid-template-columns: 1fr;
    }
}



/* Footer Section */
.footer {
    background: #0d1b2a;
    color: #ffffff;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 8%;
}

/* About Section */
.footer-about {
    flex: 1;
    min-width: 260px;
}

.footer-about img {
    width: 160px;
    margin-bottom: 15px;
}

.footer-about p {
    font-size: 15px;
    line-height: 1.7;
    color: #dfe6ee;
    max-width: 320px;
}


.footer h4 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffcc66;
    font-weight: 600;
}


.footer-links,
.footer-support {
    flex: 1;
    min-width: 200px;
}

.footer-links ul,
.footer-support ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-support li {
    margin-bottom: 10px;
}

.footer-links a,
.footer-support a {
    color: #dfe6ee;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.footer-links a:hover,
.footer-support a:hover {
    color: #ffcc66;
    padding-left: 5px;
}


.footer-contact {
    flex: 1;
    min-width: 260px;
}

.footer-contact p {
    font-size: 15px;
    margin-bottom: 8px;
    color: #dfe6ee;
}

.social-icon {
    margin-top: 10px;
}

.social-icon a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color:  #dfe6ee;
    background: rgba(13, 6, 230, 0.1);
    padding: 10px 12px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.social-icon a:hover {
    background: #ffcc66;
    color: #0d1b2a;
}


.footer-bottom {
    text-align: center;
    padding: 18px 0;
    margin-top: 40px;
    background: #0a1622;
    font-size: 14px;
    color: #c8d2dc;
}

.footer-bottom p {
    margin: 0;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-about p {
        max-width: 100%;
    }

    .social-icon a {
        margin: 0 8px;
    }
}



