* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    width: 100%;
    background: #0d1625;
    padding: 15px 5%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 80px;
}


.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 150px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00aaff;
}


.loginbtn {
    background: #007bff;
    border: none;
    padding: 3px 18px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.loginbtn:hover {
    background: #005fcc;
    transform: scale(1.05);
}


.menu-icon {
    display: none;
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
}


@media (max-width: 768px) {

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: -550px; 
        left: 0;
        width: 100%;
        background: #0d1625;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 40px 0 30px 0;
        transition: 0.4s ease;
        box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
    }

    .nav-links.active {
        top: 60px; 
    }

    .nav-links li a {
        font-size: 18px;
    }

    .loginbtn {
        font-size: 18px;
        padding: 10px 28px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 130px;
    }

    .nav-links li a {
        font-size: 17px;
    }
}


body {
    background: #f4f6f9;
}


.auth-container {
    display: flex;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    padding-top: 80px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
}


.auth-left {
    flex: 1;
    background: url("./image/bgfreature.webp") no-repeat center center/cover; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}



.auth-left img {
    max-width: 80%;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
}

.auth-left h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.auth-left p {
    font-size: 16px;
    line-height: 1.6;
}


.auth-right {
    flex: 1;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("./image/glof.webp") no-repeat center center/cover;
    
}



.form-toggle {
    display: flex;
    margin-bottom: 30px;
    border-bottom: 2px solid #eee;
}

.form-toggle button {
    flex: 1;
    padding: 12px 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: white;
    transition: all 0.3s ease;
}

.form-toggle button.active {
    color: #000034;
    border-bottom: 3px solid #02024d;
}


.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form.hidden {
    display: none;
}

.auth-form h3 {
    font-size: 24px;
    margin-bottom: 25px;
    color: #000034;
    text-align: center;
}

.auth-form input {
    padding: 14px 18px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s ease;
}

.auth-form input:focus {
    outline: none;
    border-color: #0c6efd;
    box-shadow: 0px 0px 8px rgba(12,110,253,0.3);
}

.done {
    background: #0c6efd;
    color: #fff;
    padding: 14px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.done:hover {
    background: #0951c3;
}

.switch-text {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    color: white;
}

.switch-text span {
    color: rgb(0, 255, 242);
    cursor: pointer;
    font-weight: 500;
}


@media(max-width: 992px) {
    .auth-container {
        flex-direction: column;
        border-radius: 0;
        min-height: 100vh;
    }

    .auth-left, .auth-right {
        flex: unset;
        width: 100%;
        padding: 40px 20px;
    }

    .auth-left img {
        max-width: 60%;
    }
}
