* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    width: 100%;
    background: #0d1625;
    padding: 15px 5%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 80px;
}


.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 150px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00aaff;
}


.loginbtn {
    background: #007bff;
    border: none;
    padding: 3px 18px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.loginbtn:hover {
    background: #005fcc;
    transform: scale(1.05);
}


.menu-icon {
    display: none;
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
}


@media (max-width: 768px) {

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: -660px; 
        left: 0;
        width: 100%;
        background: #0d1625;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 40px 0 30px 0;
        transition: 0.4s ease;
        box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
    }

    .nav-links.active {
        top: 60px; 
    }

    .nav-links li a {
        font-size: 18px;
    }

    .loginbtn {
        font-size: 18px;
        padding: 10px 28px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 130px;
    }

    .nav-links li a {
        font-size: 17px;
    }
}


/* section hero */

.property-hero {
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url('./image/lake.view.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.property-hero-content {
    position: relative;
    text-align: center;
    color: #fff;
    max-width: 700px;
    padding: 20px;
}

.property-hero-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: bold;
}

.property-hero-content p {
    font-size: 18px;
    margin-bottom: 25px;
    opacity: 0.9;
}





@media (max-width: 768px) {
    .property-hero-content h1 {
        font-size: 34px;
    }

    .property-search-box {
        flex-direction: column;
    }

    .property-search-box input {
        width: 100%;
    }

    .property-search-box button {
        width: 100%;
        justify-content: center;
    }
}


/* section proeprties */

.featured-properties {
  text-align: center;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.featured-properties h2 {
  font-size: 32px;
  font-weight: bold;
  color: #0a2d5e;
}

.subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 40px;
}

.slider-container {
  position: relative;
  width: 90%;
  margin: auto;
}

.slides {
  display: flex;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
}

.property-image {
  position: relative;
  width: 50%;
}

.property-image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
}

.tag {
  position: absolute;
  top: 15px;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.featured { left: 10px; background: #2ecc71; }
.residential { left: 100px; background: #3498db; }
.active { left: 210px; background: #f39c12; }

.property-details {
  width: 50%;
  text-align: left;
  padding-right: 20px;
}

.property-details h3 {
  font-size: 22px;
  color: #2980b9;
}

.property-details h1 {
  font-size: 20px;
  margin: 8px 0;
}

.location {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

.property-icons span {
  font-size: 16px;
  margin-right: 20px;
  color: red;
}

.agent {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.agent img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: 1px solid #ddd;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
}

.left { left: -30px; }
.right { right: -30px; }

.dots {
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 4px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active-dot {
  background: #2980b9;
}


/* section properties */

.property-section {
  width: 90%;
  margin: auto;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.property-section h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.property-card {
  background: linear-gradient(135deg, aqua, rgb(143, 143, 230));
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.property-card:hover {
  transform: translateY(-5px);
}

.property-img {
  position: relative;
}

.property-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.like-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #fff;
  border: none;
  font-size: 20px;
  padding: 6px 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.property-info {
  padding: 15px;
}

.property-info h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.location {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #0077cc;
  margin-bottom: 12px;
}

.icons span {
  font-size: 16px;
  margin-right: 15px;
  color: #0a2d5e;
}


@media (max-width: 1024px) {
  .property-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .property-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .property-grid {
    grid-template-columns: 1fr;
  }
}


/* Footer Section */
.footer {
    background: #0d1b2a;
    color: #ffffff;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 8%;
}

/* About Section */
.footer-about {
    flex: 1;
    min-width: 260px;
}

.footer-about img {
    width: 160px;
    margin-bottom: 15px;
}

.footer-about p {
    font-size: 15px;
    line-height: 1.7;
    color: #dfe6ee;
    max-width: 320px;
}


.footer h4 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffcc66;
    font-weight: 600;
}


.footer-links,
.footer-support {
    flex: 1;
    min-width: 200px;
}

.footer-links ul,
.footer-support ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-support li {
    margin-bottom: 10px;
}

.footer-links a,
.footer-support a {
    color: #dfe6ee;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.footer-links a:hover,
.footer-support a:hover {
    color: #ffcc66;
    padding-left: 5px;
}


.footer-contact {
    flex: 1;
    min-width: 260px;
}

.footer-contact p {
    font-size: 15px;
    margin-bottom: 8px;
    color: #dfe6ee;
}

.social-icon {
    margin-top: 10px;
}

.social-icon a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color:  #dfe6ee;
    background: rgba(13, 6, 230, 0.1);
    padding: 10px 12px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.social-icon a:hover {
    background: #ffcc66;
    color: #0d1b2a;
}


.footer-bottom {
    text-align: center;
    padding: 18px 0;
    margin-top: 40px;
    background: #0a1622;
    font-size: 14px;
    color: #c8d2dc;
}

.footer-bottom p {
    margin: 0;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-about p {
        max-width: 100%;
    }

    .social-icon a {
        margin: 0 8px;
    }
}



