* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    width: 100%;
    background: #0d1625;
    padding: 15px 5%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 80px;
}


.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 150px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00aaff;
}


.loginbtn {
    background: #007bff;
    border: none;
    padding: 3px 18px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.loginbtn:hover {
    background: #005fcc;
    transform: scale(1.05);
}


.menu-icon {
    display: none;
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
}


@media (max-width: 768px) {

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: -550px; 
        left: 0;
        width: 100%;
        background: #0d1625;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 40px 0 30px 0;
        transition: 0.4s ease;
        box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
    }

    .nav-links.active {
        top: 60px; 
    }

    .nav-links li a {
        font-size: 18px;
    }

    .loginbtn {
        font-size: 18px;
        padding: 10px 28px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 130px;
    }

    .nav-links li a {
        font-size: 17px;
    }
}
